*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color-peach: #E7816B;
    --primary-color-black: #1D1C1E;
    --primary-color-white: #ffffff;

    --secondary-color-light-peach: #FFAD9B;
    --secondary-color-dark-peach: #333136;
    --secondary-color-light-grey: #F1F3F5;

    --main-font: 'Jost', sans-serif;
    --main-color: #1d1c1e;
    --main-font-size: 16px;
    --main-font-weight: 700;

    --heading-1-font: 'Jost', sans-serif;
    --heading-1-color: #1D1C1E;
    --heading-1-font-size: 13px;
    --heading-1-font-weight: 400;

    --heading-2-font: 'Jost', sans-serif;
    --heading-2-color: #1d1c1e;
    --heading-2-font-size: 40px;
    --heading-2-font-weight: 500;

    --heading-3-font: 'Jost', sans-serif;
    --heading-3-color: #1d1c1e;
    --heading-3-font-size: 20px;

}

body {
    font-family: 'Jost', sans-serif;
    font-style: normal;
}

main {
    width: 100%;
    height: 100%;
}

nav {
    width: 69.438rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 64.84px auto 5rem auto;
}

.links {
    display: flex;
    width: 370px;
    justify-content: space-between;
}

.links a {
    text-decoration: none;
    padding: 0 0;
    font-size: 14px;
    font-weight: var(--heading-1-font-weight);
    color: var(--secondary-color-dark-peach);
    letter-spacing: 2px;
}

.link a {
    color: var(--primary-color-white);
}

.logo {
    width: 196px;
}

.links a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.app-section {
    width: 69.438rem;
    height: 15.75rem;
    background-color: var(--primary-color-peach);
    margin: 0 auto;
    overflow: hidden;
    color: var(--primary-color-white);
    border-radius: 1rem;
}

.app-div {
    width: 22.5rem;
    height: 124px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 3rem auto;
}

.app-div h1 {
    font-size: 48px;
    font-weight: var(--heading-2-font-weight);
    margin-bottom: 1rem;
    z-index: 5;
}

.app-div p {
    font-weight: var(--heading-1-font-weight);
    font-size: 16px;
    line-height: 26px;
    z-index: 5;
}

.el {
    position: relative;
    right: 3.5rem;
    bottom: 25rem;
    height: 30rem;
    width: 54.75rem;
    background-image: url(/starter-code/assets/app-design/desktop/bg-pattern-intro-app.svg);
}

.circ {
    background-image: url(/starter-code/assets/shared/desktop/bg-pattern-leaf.svg);
    height: 37.125rem;
    width: 62.875rem;
    position: relative;
    bottom: 7rem;
    z-index: -1;
}

.stuff {
    position: relative;
    width: 69.438rem;
    margin: 0 auto;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1.85rem;
    margin-bottom: 10rem;
    margin-top: -25rem;
}

.box {
    width: 21.875rem;
    height: 29.875rem;
    border-radius: 15px;
    background-color: #FDF3F0;
    transition: background-color 0.3s;
}

.box:hover {
    cursor: pointer;
    background-color: var(--primary-color-peach);
    color: #fff;
}

.in_img {
    margin: 0 auto;
    height: 20rem;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
}

.words {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--primary-color-white);
    width: 19rem;
    margin: 2rem auto 0;
}

.box:hover h2,
.box:hover p {
    color: var(--primary-color-white);
}

.words h2 {
    text-transform: uppercase;
    font-weight: var(--heading-2-font-weight);
    letter-spacing: 5px;
    margin-bottom: 1rem;
    font-size: 20px;
    color: var(--primary-color-peach);
}

.words p {
    font-weight: var(--heading-1-font-weight);
    font-size: var(--main-font-size);
    color: var(--primary-color-black);
}

.pages {
    width: 69.438rem;
    margin: 0 auto;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.7rem;
    margin-bottom: 6rem;
}

.image-container {
    position: relative;
    display: inline-block;
    height: 19.25rem;
    width: 33.813rem;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.page1 {
    height: 19.25rem;
    width: 33.813rem;
    border-radius: 15px;
}
.page-tab {
    display: none;
}

.web {
    position: relative;
    bottom: 13.5rem;
    left: 5rem;
    color: var(--primary-color-white);
    width: 24rem;
    font-weight: var(--heading-1-font-weight);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 2px;
}

.web h1 {
    font-size: 40px;
    margin-bottom: 1rem;
    font-weight: 500;
}

.web a {
    text-decoration: none;
    font-size: 15px;
    color: var(--primary-color-white);
    width: 197px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 5px;
}

.project-container {
    position: relative;
    top: 5rem;
    width: 69.438rem;
    height: 292px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: var(--primary-color-peach);
    background-image: url(../assets/shared/desktop/bg-pattern-call-to-action.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.gig {
    display: flex;
    justify-content: space-between;
}

.get-touch {
    width: 9.5rem;
    height: 3.5rem;
    position: relative;
    top: 7rem;
    float: right;
    margin-right: 5rem;
    border-radius: .5rem;
    border: none;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.get-touch:hover {
    background-color: var(--secondary-color-light-peach);
    color: var(--primary-color-white);
    cursor: pointer;
}

.project {
    position: relative;
    top: 5rem;
    margin-inline: 10%;
}

.project h1 {
    font-size: var(--heading-2-font-size);
    font-weight: var(--heading-2-font-weight);
    color: var(--primary-color-white);
    line-height: 40px;
    width: 268px;
}

.project h2 {
    font-size: var(--main-font-size);
    color: var(--primary-color-white);
    font-weight: var(--heading-1-font-weight);
    line-height: 26px;
    margin-top: 1rem;
    width: 459px;
}

footer {
    width: 100%;
    height: 430px;
    background-color: var(--primary-color-black);
}

.footer-links a {
    text-decoration: none;
    color: var(--primary-color-white);
    padding: 0 18px;
    font-size: 14px;
    font-weight: var(--heading-1-font-weight);
}

.foot {
    padding-top: 7rem;
}

hr {
    width: 1111px;
    height: 1px;
    margin: 40px auto;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color-light-grey);
    width: 69.438rem;
    margin: 0 auto;
    line-height: 1.5rem;
}

.container-direction {
    mix-blend-mode: normal;
    opacity: 0.5;
}

.container-direction h1 {
    font-size: var(--heading-3-font-size);
}

.container-direction h2 {
    font-size: var(--heading-1-font-size);
}

.container-contact {
    mix-blend-mode: normal;
    opacity: 0.5;
}

.container-contact h1 {
    font-size: var(--heading-3-font-size);
}

.container-contact h2 {
    font-size: var(--heading-1-font-size);
}

.footer-icons {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.footer-icons img {
    width: 15px;
}

@media screen and (min-width: 481px) and (max-width: 820px) {
    nav {
        width: 43rem;
    }

    .app-section {
        width: 43rem;
        margin-bottom: 10rem;
    }

    .app-div {
        width: 22rem;
    }

    .circ {
        display: none;
    }

    .stuff {
        position: relative;
        width: 43rem;
        margin: 0 auto;
        grid-template-columns: auto;
        margin-bottom: 5rem;
        /* border: 1px solid black;         */
    }
    
    .box {
        width: 43rem;
        height: 19.375rem;
    }
    
    .in_img {
        margin: 0 auto;
        height: 19.375rem;
        border-radius: 15px 0px 0px 15px;
    }
    
    .words {
        width: 17.875rem;
        position: relative;
        bottom: 15rem;
        left: 11rem;
    } 

    .pages {
        width: 43rem;
        grid-template-columns: auto;
    }
    
    .image-container {
        height: 12.5rem;
        width: 43rem;
    }

    .page1 {
        display: none;
    }
    
    .page-tab {
        display: inline;
        height: 12.5rem;
        width: 43rem;
        border-radius: 15px;
    }
    
    .web {
        bottom: 10rem;
        left: 9.5rem;
    } 

    .project-container {
        top: 0;
        width: 43.125rem;
        height: 21.875rem;
    }
    
    .project {
        top: 3rem;
        width: 35.813rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .project h1 {
        text-align: center;
    }

    .project h2 {
        text-align: center;
        width: 27rem;
    } 
    
    .get-touch {
        position: absolute;
         top: 15rem;
         left: 17rem;
    }
    
    footer {
        width: 100%;
        height: 500px;
        background-color: var(--primary-color-black);
        position: relative;
        bottom: 5rem;
        z-index: -1;
    }
    
    hr {
        width: 690px;
        margin: -30px auto 50px;
        opacity: 0.1;
    }

    .container {
        width: 43rem;
        margin: 0 auto;
        border: 1px solid white;
        /* font-size: var(--main-font-size); */
        line-height: 2rem;
    }

    .container-direction h1 {
        font-size: var(--main-font-size);
        font-weight: var(--heading-2-font-weight);
    }

    .container-direction h2 {
        font-size: var(--main-font-size);
        font-weight: 300;
    }

    .container-contact h1 {
        font-size: var(--main-font-size);
        font-weight: var(--heading-2-font-weight);
    }

    .container-contact h2 {
        font-size: var(--main-font-size);
        font-weight: var(--heading-2-font-weight);
    }
/*
    .footer-icons {
        width: 10rem;
        display: flex;
        justify-content: space-between;
        margin-top: 45px;
    }

    .footer-icons img {
        width: 15px;
    } */
}