*, ::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color-peach: #E7816B;
    --primary-color-black: #1D1C1E;
    --primary-color-white: #ffffff;

    --secondary-color-light-peach: #FFAD9B;
    --secondary-color-dark-peach: #333136;
    --secondary-color-light-grey:  #F1F3F5;

    --main-font: 'Jost', sans-serif;
    --main-color: #1d1c1e;
    --main-font-size: 16px;
    --main-font-weight: 700;

    --heading-1-font: 'Jost', sans-serif;
    --heading-1-color: #1D1C1E;
    --heading-1-font-size: 13px;
    --heading-1-font-weight: 400;

    --heading-2-font: 'Jost', sans-serif;
    --heading-2-color: #1d1c1e;
    --heading-2-font-size: 40px;
    --heading-2-font-weight: 500;

    --heading-3-font: 'Jost', sans-serif;
    --heading-3-color: #1d1c1e;
    --heading-3-font-size: 20px;

}

body{
    font-family: 'Jost', sans-serif;
    font-style: normal;
}

main{
    /* position: relative; */
    width: 100%;
    height: 100%;
}

nav{
    width: 69.438rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 64.84px auto 0 auto;
}
.links {
    display: flex;
    width: 370px;
    justify-content: space-between;
}
.links a{
    text-decoration: none;
    padding: 0 0;
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color-dark-peach);
    letter-spacing: 2px;    
}

.link a{
    color: var(--primary-color-white);
}

.logo{
    width: 196px;
}


.links a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.Main-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1111px;
    height: 252px;
    top: 5rem;
    /* margin-left: 15rem; */
    background-color: var(--primary-color-peach);
    background-image: url(/starter-code/assets/graphic-design/desktop/bg-pattern-intro-graphic.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    margin: 0 auto;
}
.intro{
    text-align: center;
    padding-top: 5rem;
    color: var(--primary-color-white);
    margin-bottom: 5rem;
}
.intro p{
    padding-top: 1rem;
    width: 23rem;
    margin: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.bg-svg {
    position: absolute;
    width: 1006px;
    height: 594px;
    left: 0px;
    top: 281px;
    background: #F1F3F5;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-radius: 297px 297px 297px 0px;
    z-index: -1;
}
.Second-content {
    width: 100%;
    height: 478px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    height: 478px;
    justify-content: center;
}
.container img{
    width: 22rem;
    height: 20rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
} 

.grid-item {
    display: flex;
    background-color: var(--primary-color-white);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px; 
    border-radius: 20px;
    width: 350px;
    height: 478px;
    background: #FDF3F0;
} 
.grid-item:hover{
    background: var(--primary-color-peach);
    cursor: pointer;
}

.grid-item h2 {
    width: 286px;
    height: 26px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 5px;
    padding: 2.2rem;
    color: var(--primary-color-peach);
}

.grid-item p {
    width: 20rem;
    padding: 1rem;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--secondary-color-dark-peach);
}
.third-content {
    width: 100%;
    height: 408px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12rem ;
    padding-top: 12rem;
    margin-top: 5rem;
}
.Designs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.design-item {
    width: 541px;
    height: 308px;
    display: flex;
    background: url(../assets/home/desktop/image-app-design.jpg);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px; 
    border-radius: 20px;
}
.design-item1 {
    width: 541px;
    height: 308px;
    display: flex;
    background-image: url(../assets/home/desktop/image-web-design-large.jpg);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color-white);
    padding: 30px; 
    border-radius: 20px;
}


.project-container{
    position: relative;
    top: 5rem;
    width: 1111px;
    height: 292px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: var(--primary-color-peach);
    background-image: url(../assets/shared/desktop/bg-pattern-call-to-action.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.element {
    margin-top: -15rem;
}

.element img{
    height: 30rem;
}



.action{
  width: 800px;
  margin-left: 18rem;
}


.get-touch {
    width: 9.5rem;
    height: 3.5rem;
    position: relative;
    margin-top: 8rem; 
    margin-right: 5rem;
    border-radius: .5rem;
    border: none;
}


.project{
    position: relative;
    top: 5rem;
    margin-inline: 10%;
}
.gig{
    display: flex;
    justify-content: space-between;
}

.project h1{
    font-size: var(--heading-2-font-size);
    font-weight: var(--heading-2-font-weight);
    color: var(--primary-color-white);
    line-height: 40px;
    width: 268px;
}

.project h2{
    font-size: var(--main-font-size);
    color: var(--primary-color-white);
    font-weight: var(--heading-1-font-weight);
    line-height: 26px;
    margin-top: 1rem;
    width: 459px;
}

footer{
    width: 100%;
    height: 393px;
    background-color: var(--primary-color-black);
}

.footer-links a{
    text-decoration: none;
    color: var(--primary-color-white);
    padding: 0 18px;
    font-size: 14px;
    font-weight: 400;
} 


.foot{
    padding-top: 7rem;
} 

hr{
    width: 1111px;
    height: 1px;
    margin: 40px auto;
    
}


.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color-light-grey);
    width: 69.438rem;
    margin: 0 auto;
    line-height: 1.5rem;
}
.container-direction {
    mix-blend-mode: normal;
    opacity: 0.5;
}
.container-direction h1 {
    font-size: var(--heading-3-font-size);
}
.container-direction h2 {
    font-size: var(--heading-1-font-size);
}
.container-contact {
    mix-blend-mode: normal;
    opacity: 0.5;
}
.container-contact h1 {
    font-size: var(--heading-3-font-size);
}
.container-contact h2 {
    font-size: var(--heading-1-font-size);
}
.footer-icons {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.footer-icons img {
    width: 15px;
}


@media only screen and (max-width:820px) and (min-width: 450px){
    nav{
        width: 50rem;
        /* margin: 14.84px auto 0 auto; */
    }
    .logo{
        margin-left: 1.5rem;
    }

    .Main-content{
        width: 689px;
    }
    .grid-item {
        display: flex;
        background-color: var(--primary-color-white);
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 689px;
        height: 310px;
        background: #FDF3F0
        
    }
    
    .container {
        display: grid;
        grid-template-columns: auto ;
        gap: 2rem;
        height: 478px;
        justify-content: center;


    }
    .container img{
        width: 339px;
        height: 310px;
        border-top-left-radius: 20px;
        border-top-right-radius: 0px;
        margin-right: 5rem;
    }
    .grid-item h2{
        display: block;

    }
    .grid-item h2{
        width: 277px;
        height: 26px;
    }
    .grid-item p{
        
        justify-content: center;
        width: 277px;
        height: 52px;
    }
    .third-content{
        padding: 12rem ;
        padding-top: 12rem;
        margin-top: 40rem;

    }
    .Designs {
        display: grid;
        grid-template-columns: 1fr ;
        gap: 1rem;
    }
    .design-item{
        width: 689px;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .design-item1{
        width: 689px;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .project-container{
        width: 689px;
    }
    .gig{
        display: block;
        margin: 0 auto;
        width: 420px;
        border: 2px solid #0b05bb;

    }
    .project{
        justify-content: center;
    }

    
    
}
