*, ::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color-peach: #E7816B;
    --primary-color-black: #1D1C1E;
    --primary-color-white: #ffffff;

    --secondary-color-light-peach: #FFAD9B;
    --secondary-color-dark-peach: #333136;
    --secondary-color-light-grey:  #F1F3F5;

    --main-font: 'Jost', sans-serif;
    --main-color: #1d1c1e;
    --main-font-size: 16px;
    --main-font-weight: 700;

    --heading-1-font: 'Jost', sans-serif;
    --heading-1-color: #1D1C1E;
    --heading-1-font-size: 13px;
    --heading-1-font-weight: 400;

    --heading-2-font: 'Jost', sans-serif;
    --heading-2-color: #1d1c1e;
    --heading-2-font-size: 40px;
    --heading-2-font-weight: 500;

    --heading-3-font: 'Jost', sans-serif;
    --heading-3-color: #1d1c1e;
    --heading-3-font-size: 20px;

}

body{
    font-family: 'Jost', sans-serif;
    font-style: normal;
}

main{
    width: 100%;
    height: 100%;
}

nav{
   width: 69.438rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 64.84px auto 0 auto;
}

.links {
    display: flex;
    width: 370px;
    justify-content: space-between;
}

.links a{
    text-decoration: none;
    padding: 0 0;
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color-dark-peach);
    letter-spacing: 2px;    
}

.link a{
    color: var(--primary-color-white);
}

.logo{
    width: 196px;
}

.links a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.actions{
    width: 800px;
    margin-left: 19.5rem;
    transform: scaleY(-1);
   -webkit-transform: scaleY(-1);
   -moz-transform: scaleY(-1);
   -ms-transform: scaleY(-1);
   -o-transform: scaleY(-1);
}

.web_design{
    position: absolute;
    top: 10rem;
    left: 13rem;
    overflow: hidden;
    width: 1111px;
    height: 292px;
    margin: 0 auto;
    background-color: var(--primary-color-peach);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.design{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  padding-top: 5rem;
}

.web_design h1{
    font-size: 48px;
    color: var(--primary-color-white);
    font-weight: var(--heading-2-font-weight);
    line-height: 48px;
}

.web_design h2{
    font-size: var(--main-font-size);
    color: var(--primary-color-white);
    font-weight: var(--heading-1-font-weight);
}

.leaf img{
    width: 1006px;
    height: 594px;
    margin-top: 13rem;
}

.grid-content{
    margin-top: -20rem;
    margin-inline: auto;
    width: 1111px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .grid-item {
    margin: 0 auto;
    background: #FDF3F0;
    border-radius: 15px;
  }

  .svg-container img{
   width: 350px;
   border-top-right-radius: 15px;
   border-top-left-radius: 15px;
}

  .express{
    text-align: center;
    background: #FDF3F0;
    border-radius: 15px;
    color: var(--primary-color-peach);
    line-height: 26px;
  }

  .express h1{
    
    padding-top: 2rem;
    font-weight: var(--heading-2-font-weight);
    font-size: var(--heading-3-font-size);
    letter-spacing: 5px;
  }

  .express h2{
    margin: 0 auto;
    color: var(--secondary-color-dark-peach);
    font: var(--main-font-size);
    padding-top: 16px;
    width: 286px;
  }

.project-container{
    position: relative;
    overflow: hidden;
    top: 5rem;
    width: 1111px;
    height: 292px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: var(--primary-color-peach);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.element {
    margin-top: -15rem;
}

.element img{
    height: 30rem;
}

.action{
  width: 800px;
  margin-left: 18rem;
}

.get-touch {
    width: 9.5rem;
    height: 3.5rem;
    position: relative;
    top: -17rem;
    float: right;
    margin-right: 5rem;
    border-radius: .5rem;
    border: none;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.project{
    position: relative;
    top: 5rem;
    margin-inline: 10%;
}

.project h1{
    font-size: var(--heading-2-font-size);
    font-weight: var(--heading-2-font-weight);
    color: var(--primary-color-white);
    line-height: 40px;
    width: 268px;
}

.project h2{
    font-size: var(--main-font-size);
    color: var(--primary-color-white);
    font-weight: var(--heading-1-font-weight);
    line-height: 26px;
    margin-top: 1rem;
    width: 459px;
}

footer{
    width: 100%;
    height: 393px;
    background-color: var(--primary-color-black);
}

.footer-links a{
    text-decoration: none;
    color: var(--primary-color-white);
    padding: 0 18px;
    font-size: 14px;
    font-weight: 400;
} 


.foot{
    padding-top: 7rem;
} 

hr{
    width: 1111px;
    height: 1px;
    margin: 40px auto;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color-light-grey);
    width: 69.438rem;
    margin: 0 auto;
    line-height: 1.5rem;
}
.container-direction {
    mix-blend-mode: normal;
    opacity: 0.5;
}
.container-direction h1 {
    font-size: var(--heading-3-font-size);
}
.container-direction h2 {
    font-size: var(--heading-1-font-size);
}
.container-contact {
    mix-blend-mode: normal;
    opacity: 0.5;
}
.container-contact h1 {
    font-size: var(--heading-3-font-size);
}
.container-contact h2 {
    font-size: var(--heading-1-font-size);
}
.footer-icons {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.footer-icons img {
    width: 15px;
}



